OpenDental/Web References/PatientPortal/PatientPortal.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://opendental.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://opendental.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://opendental.com/">
      <s:element name="ServiceExists">
        <s:complexType />
      </s:element>
      <s:element name="ServiceExistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ServiceExistsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerNum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistrationKeyFromDentalOffice" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerNumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCustomerNumResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAllRecords">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistrationKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAllRecordsResponse">
        <s:complexType />
      </s:element>
      <s:element name="SynchMedications">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistrationKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="medicationmList" type="tns:ArrayOfMedicationm" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMedicationm">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Medicationm" nillable="true" type="tns:Medicationm" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Medicationm">
        <s:complexContent mixed="false">
          <s:extension base="tns:TableBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="CustomerNum" type="s:long" />
              <s:element minOccurs="1" maxOccurs="1" name="MedicationNum" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="MedName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="GenericNum" type="s:long" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="TableBase" abstract="true">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsNew" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="SynchMedicationsResponse">
        <s:complexType />
      </s:element>
      <s:element name="SynchMedicationPats">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistrationKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="medicationPatList" type="tns:ArrayOfMedicationPatm" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMedicationPatm">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MedicationPatm" nillable="true" type="tns:MedicationPatm" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MedicationPatm">
        <s:complexContent mixed="false">
          <s:extension base="tns:TableBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="CustomerNum" type="s:long" />
              <s:element minOccurs="1" maxOccurs="1" name="MedicationPatNum" type="s:long" />
              <s:element minOccurs="1" maxOccurs="1" name="PatNum" type="s:long" />
              <s:element minOccurs="1" maxOccurs="1" name="MedicationNum" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="PatNote" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsDiscontinued" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SynchMedicationPatsResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ServiceExistsSoapIn">
    <wsdl:part name="parameters" element="tns:ServiceExists" />
  </wsdl:message>
  <wsdl:message name="ServiceExistsSoapOut">
    <wsdl:part name="parameters" element="tns:ServiceExistsResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomerNumSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomerNum" />
  </wsdl:message>
  <wsdl:message name="GetCustomerNumSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomerNumResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteAllRecordsSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteAllRecords" />
  </wsdl:message>
  <wsdl:message name="DeleteAllRecordsSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteAllRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="SynchMedicationsSoapIn">
    <wsdl:part name="parameters" element="tns:SynchMedications" />
  </wsdl:message>
  <wsdl:message name="SynchMedicationsSoapOut">
    <wsdl:part name="parameters" element="tns:SynchMedicationsResponse" />
  </wsdl:message>
  <wsdl:message name="SynchMedicationPatsSoapIn">
    <wsdl:part name="parameters" element="tns:SynchMedicationPats" />
  </wsdl:message>
  <wsdl:message name="SynchMedicationPatsSoapOut">
    <wsdl:part name="parameters" element="tns:SynchMedicationPatsResponse" />
  </wsdl:message>
  <wsdl:portType name="PatientPortalSoap">
    <wsdl:operation name="ServiceExists">
      <wsdl:input message="tns:ServiceExistsSoapIn" />
      <wsdl:output message="tns:ServiceExistsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerNum">
      <wsdl:input message="tns:GetCustomerNumSoapIn" />
      <wsdl:output message="tns:GetCustomerNumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAllRecords">
      <wsdl:input message="tns:DeleteAllRecordsSoapIn" />
      <wsdl:output message="tns:DeleteAllRecordsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SynchMedications">
      <wsdl:input message="tns:SynchMedicationsSoapIn" />
      <wsdl:output message="tns:SynchMedicationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SynchMedicationPats">
      <wsdl:input message="tns:SynchMedicationPatsSoapIn" />
      <wsdl:output message="tns:SynchMedicationPatsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PatientPortalSoap" type="tns:PatientPortalSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ServiceExists">
      <soap:operation soapAction="http://opendental.com/ServiceExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerNum">
      <soap:operation soapAction="http://opendental.com/GetCustomerNum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAllRecords">
      <soap:operation soapAction="http://opendental.com/DeleteAllRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SynchMedications">
      <soap:operation soapAction="http://opendental.com/SynchMedications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SynchMedicationPats">
      <soap:operation soapAction="http://opendental.com/SynchMedicationPats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PatientPortalSoap12" type="tns:PatientPortalSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ServiceExists">
      <soap12:operation soapAction="http://opendental.com/ServiceExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerNum">
      <soap12:operation soapAction="http://opendental.com/GetCustomerNum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAllRecords">
      <soap12:operation soapAction="http://opendental.com/DeleteAllRecords" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SynchMedications">
      <soap12:operation soapAction="http://opendental.com/SynchMedications" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SynchMedicationPats">
      <soap12:operation soapAction="http://opendental.com/SynchMedicationPats" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PatientPortal">
    <wsdl:port name="PatientPortalSoap" binding="tns:PatientPortalSoap">
      <soap:address location="http://localhost:2923/PatientPortal.asmx" />
    </wsdl:port>
    <wsdl:port name="PatientPortalSoap12" binding="tns:PatientPortalSoap12">
      <soap12:address location="http://localhost:2923/PatientPortal.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>