OpenDental/Web References/customerUpdates/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://open-dent.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://open-dent.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://open-dent.com/">
      <s:element name="EstablishConnection">
        <s:complexType />
      </s:element>
      <s:element name="EstablishConnectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EstablishConnectionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestUpdateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestCodeSystems">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestCodeSystemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestCodeSystemsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestCodeSystemDownload">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestCodeSystemDownloadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestCodeSystemDownloadResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FeatureRequestGetList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FeatureRequestGetListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FeatureRequestGetListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FeatureRequestGetOne">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FeatureRequestGetOneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FeatureRequestGetOneResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FeatureRequestSubmitChanges">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FeatureRequestSubmitChangesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FeatureRequestSubmitChangesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FeatureRequestDiscussSubmit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FeatureRequestDiscussSubmitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FeatureRequestDiscussSubmitResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FeatureRequestDiscussGetList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FeatureRequestDiscussGetListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FeatureRequestDiscussGetListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestCustomerID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestCustomerIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestCustomerIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestFeeSched">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestFeeSchedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestFeeSchedResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateResellerCredentials">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateResellerCredentialsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateResellerCredentialsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidatePatientPortalOffice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidatePatientPortalOfficeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidatePatientPortalOfficeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PracticeTitleReset">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PracticeTitleResetResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EstablishConnectionSoapIn">
    <wsdl:part name="parameters" element="tns:EstablishConnection" />
  </wsdl:message>
  <wsdl:message name="EstablishConnectionSoapOut">
    <wsdl:part name="parameters" element="tns:EstablishConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="RequestUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:RequestUpdate" />
  </wsdl:message>
  <wsdl:message name="RequestUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:RequestUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="RequestCodeSystemsSoapIn">
    <wsdl:part name="parameters" element="tns:RequestCodeSystems" />
  </wsdl:message>
  <wsdl:message name="RequestCodeSystemsSoapOut">
    <wsdl:part name="parameters" element="tns:RequestCodeSystemsResponse" />
  </wsdl:message>
  <wsdl:message name="RequestCodeSystemDownloadSoapIn">
    <wsdl:part name="parameters" element="tns:RequestCodeSystemDownload" />
  </wsdl:message>
  <wsdl:message name="RequestCodeSystemDownloadSoapOut">
    <wsdl:part name="parameters" element="tns:RequestCodeSystemDownloadResponse" />
  </wsdl:message>
  <wsdl:message name="FeatureRequestGetListSoapIn">
    <wsdl:part name="parameters" element="tns:FeatureRequestGetList" />
  </wsdl:message>
  <wsdl:message name="FeatureRequestGetListSoapOut">
    <wsdl:part name="parameters" element="tns:FeatureRequestGetListResponse" />
  </wsdl:message>
  <wsdl:message name="FeatureRequestGetOneSoapIn">
    <wsdl:part name="parameters" element="tns:FeatureRequestGetOne" />
  </wsdl:message>
  <wsdl:message name="FeatureRequestGetOneSoapOut">
    <wsdl:part name="parameters" element="tns:FeatureRequestGetOneResponse" />
  </wsdl:message>
  <wsdl:message name="FeatureRequestSubmitChangesSoapIn">
    <wsdl:part name="parameters" element="tns:FeatureRequestSubmitChanges" />
  </wsdl:message>
  <wsdl:message name="FeatureRequestSubmitChangesSoapOut">
    <wsdl:part name="parameters" element="tns:FeatureRequestSubmitChangesResponse" />
  </wsdl:message>
  <wsdl:message name="FeatureRequestDiscussSubmitSoapIn">
    <wsdl:part name="parameters" element="tns:FeatureRequestDiscussSubmit" />
  </wsdl:message>
  <wsdl:message name="FeatureRequestDiscussSubmitSoapOut">
    <wsdl:part name="parameters" element="tns:FeatureRequestDiscussSubmitResponse" />
  </wsdl:message>
  <wsdl:message name="FeatureRequestDiscussGetListSoapIn">
    <wsdl:part name="parameters" element="tns:FeatureRequestDiscussGetList" />
  </wsdl:message>
  <wsdl:message name="FeatureRequestDiscussGetListSoapOut">
    <wsdl:part name="parameters" element="tns:FeatureRequestDiscussGetListResponse" />
  </wsdl:message>
  <wsdl:message name="RequestCustomerIDSoapIn">
    <wsdl:part name="parameters" element="tns:RequestCustomerID" />
  </wsdl:message>
  <wsdl:message name="RequestCustomerIDSoapOut">
    <wsdl:part name="parameters" element="tns:RequestCustomerIDResponse" />
  </wsdl:message>
  <wsdl:message name="RequestFeeSchedSoapIn">
    <wsdl:part name="parameters" element="tns:RequestFeeSched" />
  </wsdl:message>
  <wsdl:message name="RequestFeeSchedSoapOut">
    <wsdl:part name="parameters" element="tns:RequestFeeSchedResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateResellerCredentialsSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateResellerCredentials" />
  </wsdl:message>
  <wsdl:message name="ValidateResellerCredentialsSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateResellerCredentialsResponse" />
  </wsdl:message>
  <wsdl:message name="ValidatePatientPortalOfficeSoapIn">
    <wsdl:part name="parameters" element="tns:ValidatePatientPortalOffice" />
  </wsdl:message>
  <wsdl:message name="ValidatePatientPortalOfficeSoapOut">
    <wsdl:part name="parameters" element="tns:ValidatePatientPortalOfficeResponse" />
  </wsdl:message>
  <wsdl:message name="PracticeTitleResetSoapIn">
    <wsdl:part name="parameters" element="tns:PracticeTitleReset" />
  </wsdl:message>
  <wsdl:message name="PracticeTitleResetSoapOut">
    <wsdl:part name="parameters" element="tns:PracticeTitleResetResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="EstablishConnection">
      <wsdl:input message="tns:EstablishConnectionSoapIn" />
      <wsdl:output message="tns:EstablishConnectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestUpdate">
      <wsdl:input message="tns:RequestUpdateSoapIn" />
      <wsdl:output message="tns:RequestUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestCodeSystems">
      <wsdl:input message="tns:RequestCodeSystemsSoapIn" />
      <wsdl:output message="tns:RequestCodeSystemsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestCodeSystemDownload">
      <wsdl:input message="tns:RequestCodeSystemDownloadSoapIn" />
      <wsdl:output message="tns:RequestCodeSystemDownloadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FeatureRequestGetList">
      <wsdl:input message="tns:FeatureRequestGetListSoapIn" />
      <wsdl:output message="tns:FeatureRequestGetListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FeatureRequestGetOne">
      <wsdl:input message="tns:FeatureRequestGetOneSoapIn" />
      <wsdl:output message="tns:FeatureRequestGetOneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FeatureRequestSubmitChanges">
      <wsdl:input message="tns:FeatureRequestSubmitChangesSoapIn" />
      <wsdl:output message="tns:FeatureRequestSubmitChangesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FeatureRequestDiscussSubmit">
      <wsdl:input message="tns:FeatureRequestDiscussSubmitSoapIn" />
      <wsdl:output message="tns:FeatureRequestDiscussSubmitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FeatureRequestDiscussGetList">
      <wsdl:input message="tns:FeatureRequestDiscussGetListSoapIn" />
      <wsdl:output message="tns:FeatureRequestDiscussGetListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestCustomerID">
      <wsdl:input message="tns:RequestCustomerIDSoapIn" />
      <wsdl:output message="tns:RequestCustomerIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestFeeSched">
      <wsdl:input message="tns:RequestFeeSchedSoapIn" />
      <wsdl:output message="tns:RequestFeeSchedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateResellerCredentials">
      <wsdl:input message="tns:ValidateResellerCredentialsSoapIn" />
      <wsdl:output message="tns:ValidateResellerCredentialsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidatePatientPortalOffice">
      <wsdl:input message="tns:ValidatePatientPortalOfficeSoapIn" />
      <wsdl:output message="tns:ValidatePatientPortalOfficeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PracticeTitleReset">
      <wsdl:input message="tns:PracticeTitleResetSoapIn" />
      <wsdl:output message="tns:PracticeTitleResetSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EstablishConnection">
      <soap:operation soapAction="http://open-dent.com/EstablishConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestUpdate">
      <soap:operation soapAction="http://open-dent.com/RequestUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestCodeSystems">
      <soap:operation soapAction="http://open-dent.com/RequestCodeSystems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestCodeSystemDownload">
      <soap:operation soapAction="http://open-dent.com/RequestCodeSystemDownload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FeatureRequestGetList">
      <soap:operation soapAction="http://open-dent.com/FeatureRequestGetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FeatureRequestGetOne">
      <soap:operation soapAction="http://open-dent.com/FeatureRequestGetOne" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FeatureRequestSubmitChanges">
      <soap:operation soapAction="http://open-dent.com/FeatureRequestSubmitChanges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FeatureRequestDiscussSubmit">
      <soap:operation soapAction="http://open-dent.com/FeatureRequestDiscussSubmit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FeatureRequestDiscussGetList">
      <soap:operation soapAction="http://open-dent.com/FeatureRequestDiscussGetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestCustomerID">
      <soap:operation soapAction="http://open-dent.com/RequestCustomerID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestFeeSched">
      <soap:operation soapAction="http://open-dent.com/RequestFeeSched" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateResellerCredentials">
      <soap:operation soapAction="http://open-dent.com/ValidateResellerCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidatePatientPortalOffice">
      <soap:operation soapAction="http://open-dent.com/ValidatePatientPortalOffice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PracticeTitleReset">
      <soap:operation soapAction="http://open-dent.com/PracticeTitleReset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EstablishConnection">
      <soap12:operation soapAction="http://open-dent.com/EstablishConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestUpdate">
      <soap12:operation soapAction="http://open-dent.com/RequestUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestCodeSystems">
      <soap12:operation soapAction="http://open-dent.com/RequestCodeSystems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestCodeSystemDownload">
      <soap12:operation soapAction="http://open-dent.com/RequestCodeSystemDownload" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FeatureRequestGetList">
      <soap12:operation soapAction="http://open-dent.com/FeatureRequestGetList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FeatureRequestGetOne">
      <soap12:operation soapAction="http://open-dent.com/FeatureRequestGetOne" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FeatureRequestSubmitChanges">
      <soap12:operation soapAction="http://open-dent.com/FeatureRequestSubmitChanges" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FeatureRequestDiscussSubmit">
      <soap12:operation soapAction="http://open-dent.com/FeatureRequestDiscussSubmit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FeatureRequestDiscussGetList">
      <soap12:operation soapAction="http://open-dent.com/FeatureRequestDiscussGetList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestCustomerID">
      <soap12:operation soapAction="http://open-dent.com/RequestCustomerID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestFeeSched">
      <soap12:operation soapAction="http://open-dent.com/RequestFeeSched" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateResellerCredentials">
      <soap12:operation soapAction="http://open-dent.com/ValidateResellerCredentials" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidatePatientPortalOffice">
      <soap12:operation soapAction="http://open-dent.com/ValidatePatientPortalOffice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PracticeTitleReset">
      <soap12:operation soapAction="http://open-dent.com/PracticeTitleReset" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://50.201.161.44:1942/WebServiceCustomerUpdates/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://50.201.161.44:1942/WebServiceCustomerUpdates/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>