OpenDental/Web References/customerUpdates/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://open-dent.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://open-dent.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://open-dent.com/">
      <s:element name="EstablishConnection">
        <s:complexType />
      </s:element>
      <s:element name="EstablishConnectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EstablishConnectionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestUpdateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FeatureRequestGetList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FeatureRequestGetListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FeatureRequestGetListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FeatureRequestGetOne">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FeatureRequestGetOneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FeatureRequestGetOneResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FeatureRequestSubmitChanges">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FeatureRequestSubmitChangesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FeatureRequestSubmitChangesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FeatureRequestDiscussSubmit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FeatureRequestDiscussSubmitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FeatureRequestDiscussSubmitResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FeatureRequestDiscussGetList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FeatureRequestDiscussGetListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FeatureRequestDiscussGetListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EstablishConnectionSoapIn">
    <wsdl:part name="parameters" element="tns:EstablishConnection" />
  </wsdl:message>
  <wsdl:message name="EstablishConnectionSoapOut">
    <wsdl:part name="parameters" element="tns:EstablishConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="RequestUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:RequestUpdate" />
  </wsdl:message>
  <wsdl:message name="RequestUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:RequestUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="FeatureRequestGetListSoapIn">
    <wsdl:part name="parameters" element="tns:FeatureRequestGetList" />
  </wsdl:message>
  <wsdl:message name="FeatureRequestGetListSoapOut">
    <wsdl:part name="parameters" element="tns:FeatureRequestGetListResponse" />
  </wsdl:message>
  <wsdl:message name="FeatureRequestGetOneSoapIn">
    <wsdl:part name="parameters" element="tns:FeatureRequestGetOne" />
  </wsdl:message>
  <wsdl:message name="FeatureRequestGetOneSoapOut">
    <wsdl:part name="parameters" element="tns:FeatureRequestGetOneResponse" />
  </wsdl:message>
  <wsdl:message name="FeatureRequestSubmitChangesSoapIn">
    <wsdl:part name="parameters" element="tns:FeatureRequestSubmitChanges" />
  </wsdl:message>
  <wsdl:message name="FeatureRequestSubmitChangesSoapOut">
    <wsdl:part name="parameters" element="tns:FeatureRequestSubmitChangesResponse" />
  </wsdl:message>
  <wsdl:message name="FeatureRequestDiscussSubmitSoapIn">
    <wsdl:part name="parameters" element="tns:FeatureRequestDiscussSubmit" />
  </wsdl:message>
  <wsdl:message name="FeatureRequestDiscussSubmitSoapOut">
    <wsdl:part name="parameters" element="tns:FeatureRequestDiscussSubmitResponse" />
  </wsdl:message>
  <wsdl:message name="FeatureRequestDiscussGetListSoapIn">
    <wsdl:part name="parameters" element="tns:FeatureRequestDiscussGetList" />
  </wsdl:message>
  <wsdl:message name="FeatureRequestDiscussGetListSoapOut">
    <wsdl:part name="parameters" element="tns:FeatureRequestDiscussGetListResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="EstablishConnection">
      <wsdl:input message="tns:EstablishConnectionSoapIn" />
      <wsdl:output message="tns:EstablishConnectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestUpdate">
      <wsdl:input message="tns:RequestUpdateSoapIn" />
      <wsdl:output message="tns:RequestUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FeatureRequestGetList">
      <wsdl:input message="tns:FeatureRequestGetListSoapIn" />
      <wsdl:output message="tns:FeatureRequestGetListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FeatureRequestGetOne">
      <wsdl:input message="tns:FeatureRequestGetOneSoapIn" />
      <wsdl:output message="tns:FeatureRequestGetOneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FeatureRequestSubmitChanges">
      <wsdl:input message="tns:FeatureRequestSubmitChangesSoapIn" />
      <wsdl:output message="tns:FeatureRequestSubmitChangesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FeatureRequestDiscussSubmit">
      <wsdl:input message="tns:FeatureRequestDiscussSubmitSoapIn" />
      <wsdl:output message="tns:FeatureRequestDiscussSubmitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FeatureRequestDiscussGetList">
      <wsdl:input message="tns:FeatureRequestDiscussGetListSoapIn" />
      <wsdl:output message="tns:FeatureRequestDiscussGetListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EstablishConnection">
      <soap:operation soapAction="http://open-dent.com/EstablishConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestUpdate">
      <soap:operation soapAction="http://open-dent.com/RequestUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FeatureRequestGetList">
      <soap:operation soapAction="http://open-dent.com/FeatureRequestGetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FeatureRequestGetOne">
      <soap:operation soapAction="http://open-dent.com/FeatureRequestGetOne" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FeatureRequestSubmitChanges">
      <soap:operation soapAction="http://open-dent.com/FeatureRequestSubmitChanges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FeatureRequestDiscussSubmit">
      <soap:operation soapAction="http://open-dent.com/FeatureRequestDiscussSubmit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FeatureRequestDiscussGetList">
      <soap:operation soapAction="http://open-dent.com/FeatureRequestDiscussGetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EstablishConnection">
      <soap12:operation soapAction="http://open-dent.com/EstablishConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestUpdate">
      <soap12:operation soapAction="http://open-dent.com/RequestUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FeatureRequestGetList">
      <soap12:operation soapAction="http://open-dent.com/FeatureRequestGetList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FeatureRequestGetOne">
      <soap12:operation soapAction="http://open-dent.com/FeatureRequestGetOne" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FeatureRequestSubmitChanges">
      <soap12:operation soapAction="http://open-dent.com/FeatureRequestSubmitChanges" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FeatureRequestDiscussSubmit">
      <soap12:operation soapAction="http://open-dent.com/FeatureRequestDiscussSubmit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FeatureRequestDiscussGetList">
      <soap12:operation soapAction="http://open-dent.com/FeatureRequestDiscussGetList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://70.90.133.65:1942/WebServiceCustomerUpdates/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://70.90.133.65:1942/WebServiceCustomerUpdates/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>