OpenDental/Web References/DivvySystemsService/DivvyConnect0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.divvysystems.com/DivvyConnectAPI/DivvyConnect.Services.PostcardService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://www.divvysystems.com/DivvyConnectAPI/DivvyConnect.Services.PostcardService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DivvyConnect.Services" />
  <xs:element name="SendPostcards">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="apiKey" type="q1:guid" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DivvyConnect.Services" minOccurs="0" name="postcards" nillable="true" type="q2:ArrayOfPostcard" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DivvyConnect.Services" minOccurs="0" name="practice" nillable="true" type="q3:Practice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPostcardsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DivvyConnect.Services" minOccurs="0" name="SendPostcardsResult" nillable="true" type="q4:PostcardReturnMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>