OpenDental/Web References/WebHostSynch/WebHostSynch.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSheetData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DentalOfficeID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="RegistrationKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSheetDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSheetDataResult" type="tns:ArrayOfWebforms_sheetfield" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfWebforms_sheetfield">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="webforms_sheetfield" nillable="true" type="tns:webforms_sheetfield" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="webforms_sheetfield">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityObject">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="FieldName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FieldValue" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="SheetFieldID" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="webforms_sheetReference" type="tns:EntityReferenceOfwebforms_sheet" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityObject" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:StructuralObject">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="EntityKey" type="tns:EntityKey" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="StructuralObject" abstract="true" />
      <s:complexType name="EntityKey">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EntitySetName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EntityContainerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EntityKeyValues" type="tns:ArrayOfEntityKeyMember" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEntityKeyMember">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EntityKeyMember" nillable="true" type="tns:EntityKeyMember" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EntityKeyMember">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EntityReferenceOfwebforms_sheet">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityReference" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityReference" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:RelatedEnd">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="EntityKey" type="tns:EntityKey" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="RelatedEnd" abstract="true" />
      <s:element name="testmeth">
        <s:complexType />
      </s:element>
      <s:complexType name="ArrayOfWebforms_sheet">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="webforms_sheet" nillable="true" type="tns:webforms_sheet" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="webforms_sheet">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="DateTimeSubmitted" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="SheetID" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="webforms_preferenceReference" type="tns:EntityReferenceOfwebforms_preference" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityReferenceOfwebforms_preference">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityReference" />
        </s:complexContent>
      </s:complexType>
      <s:element name="testmethResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="testmethResult" type="tns:ArrayOfWebforms_sheet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSheetData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SheetsForDeletion" type="tns:ArrayOfLong" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLong">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="long" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteSheetDataResponse">
        <s:complexType />
      </s:element>
      <s:element name="CheckRegistrationKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistrationKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckRegistrationKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckRegistrationKeyResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetSheetDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetSheetData" />
  </wsdl:message>
  <wsdl:message name="GetSheetDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetSheetDataResponse" />
  </wsdl:message>
  <wsdl:message name="testmethSoapIn">
    <wsdl:part name="parameters" element="tns:testmeth" />
  </wsdl:message>
  <wsdl:message name="testmethSoapOut">
    <wsdl:part name="parameters" element="tns:testmethResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSheetDataSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteSheetData" />
  </wsdl:message>
  <wsdl:message name="DeleteSheetDataSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteSheetDataResponse" />
  </wsdl:message>
  <wsdl:message name="CheckRegistrationKeySoapIn">
    <wsdl:part name="parameters" element="tns:CheckRegistrationKey" />
  </wsdl:message>
  <wsdl:message name="CheckRegistrationKeySoapOut">
    <wsdl:part name="parameters" element="tns:CheckRegistrationKeyResponse" />
  </wsdl:message>
  <wsdl:portType name="WebHostSynchSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSheetData">
      <wsdl:input message="tns:GetSheetDataSoapIn" />
      <wsdl:output message="tns:GetSheetDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="testmeth">
      <wsdl:input message="tns:testmethSoapIn" />
      <wsdl:output message="tns:testmethSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSheetData">
      <wsdl:input message="tns:DeleteSheetDataSoapIn" />
      <wsdl:output message="tns:DeleteSheetDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckRegistrationKey">
      <wsdl:input message="tns:CheckRegistrationKeySoapIn" />
      <wsdl:output message="tns:CheckRegistrationKeySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebHostSynchSoap" type="tns:WebHostSynchSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSheetData">
      <soap:operation soapAction="http://tempuri.org/GetSheetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testmeth">
      <soap:operation soapAction="http://tempuri.org/testmeth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSheetData">
      <soap:operation soapAction="http://tempuri.org/DeleteSheetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckRegistrationKey">
      <soap:operation soapAction="http://tempuri.org/CheckRegistrationKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebHostSynchSoap12" type="tns:WebHostSynchSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSheetData">
      <soap12:operation soapAction="http://tempuri.org/GetSheetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testmeth">
      <soap12:operation soapAction="http://tempuri.org/testmeth" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSheetData">
      <soap12:operation soapAction="http://tempuri.org/DeleteSheetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckRegistrationKey">
      <soap12:operation soapAction="http://tempuri.org/CheckRegistrationKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebHostSynch">
    <wsdl:port name="WebHostSynchSoap" binding="tns:WebHostSynchSoap">
      <soap:address location="http://localhost:2923/WebHostSynch.asmx" />
    </wsdl:port>
    <wsdl:port name="WebHostSynchSoap12" binding="tns:WebHostSynchSoap12">
      <soap12:address location="http://localhost:2923/WebHostSynch.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>